header {
    /*Changeable 'values'*/
    text-align: center;
    background: url(http://i.imgur.com/qrjjwpU.jpg);
    background-size: cover;
    color: black;
    margin: 0px auto;
    padding: 0px;
    font-size: 20px;
    height: 300px;
    position: fixed;
    transition: all 0.4s ease;
    /*Absolutely necessary for scroll integrity*/
    z-index: 250;
    top: 0;
    left: 0;
    right: 0
}
a {
    color: white;
    text-decoration: none;
}
h1.heading {
    padding: 70px 0px 50px 0px;
    margin: 0 auto;
    font-family: 'Poiret One', Verdana;
    font-size: 400%;
    opacity: 0.65;
    transition: all 0.4s ease;
}
h1.animate_h1 {
    padding: 20px;
    margin: 0 auto;
    font-family: 'Poiret One', Verdana;
    font-size: 0px;
    opacity: 0.65;
    top: 0;
    transition: all 0.4s ease;
}
div.ul_bar>ul {
    font-family: 'Flamenco', cursive;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    font-size: 30px;
    background: #02100D;
    opacity: 0.65;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 67px;
    transition: all 0.4s ease
}

div.ul_bar {
    background: #02100D;
    line-height:60px;
}

div.li_bar {
    vertical-align: middle;
    padding: 5px;
    width: 100%;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
}
div.li_bar>li {
    display: inline;
    padding: 20px 90px 20px 90px;
    vertical-align: middle;
    font-size: 130%;
}
div.li_bar>li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    vertical-align: middle;
}
div.main_holder {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    color: white;
    opacity: 0.75;
    padding: 20px;
    margin-top: 350px;
    width: 100%;
    text-align: center;
    /*position: relative;*/
}
div.main_holder>p {
    width: 100%;
    margin: auto auto;
    padding-top: 50px;
    text-align: center;
    font-size: 140%;
}
body {
    margin: 0 auto;
    background-color: #0B7E64;
    text-align: center;
    position: relative;
    font-size: 16px;
}
header.animate_header {
    display: inline;
    text-align: center;
    background: url(http://i.imgur.com/qrjjwpU.jpg);
    background-size: cover;
    color: black;
    margin: 0px auto;
    padding: 0px;
    height: 60px;
    line-height:60px;
    position: fixed;
    transition: all 0.4s ease;
}
ul.animate_ul {
    height: 60px;
    line-height:60px;
    font-size: 40px;
    transition: all 0.4s ease;
}

#footer_list li
{
  /*display: inline;*/
  display:inline-block;
  list-style-type: none;
  padding: 0px;
}

#footer_list {

}

/*Experimental space for scroll animation test*/

div.footer {
    vertical-align: center;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 76px;
    padding: 0px 0px 0px 0px;
}
.content {
    height: 2000px;
}
